<section class="form-container"></section>
    <form name="createUser" method="POST" action="/users" class="form-title">

        <div class="form-title">Please Create a User</div>

            <p>Profile Picture: <input type="file" name="profilePicture" id="profilePicture"></p>

            <p>First Name: <input type="text" name="First Name" id="First Name"></p>

            <p>Last Name: <input type="text" name="Last Name" id="Last Name"></p>

            <p>Type: <input type="text" name="Type" id="Type"></p>


            <p>
                On Leave: 
                <select name="onLeave">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </p>

            <p>Specialties: <input type="text" name="Specialties" id="Specialties"></p>

            <p>Biography: <input type="text" name="Biography" id="Biography"></p>
            
            <input type="submit" name="submit" id="submit" value="Create User">
    </form>
</section>   
